/Library/
/Temp/
/obj/
/Logs/
/UserSettings/
/Builds/
/*.sln
/*.csproj
/.vscode/
/.vs/

/.vs
/*.suo

UserSettings
Temp
Logs
Library
*.apk
test_BurstDebugInformation_DoNotShip/tempburstlibs/arm64-v8a/lib_burst_generated.txt
test_BurstDebugInformation_DoNotShip/tempburstlibs/armeabi-v7a/lib_burst_generated.txt
